<h2>Hola! <%= current_nutriologo.username %></h2>
<%= link_to "Mis Sesiones", '/nutriologo_pages/mis_sesiones', class: "btn btn-lg btn-primary" %>
<%= link_to "Mis Pacientes", '/nutriologo_pages/mis_pacientes', class: "btn btn-lg btn-primary" %>
