<h1>Mis Pacientes</h1>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th colspan="11"></th>
    </tr>
  </thead>

  <tbody>
    <% current_pacientes_nutriologo.each do |paciente| %>
      <tr>
        <td><%= getPacienteName(paciente.paciente_id) %></td>

        <td><%= link_to 'Ver Info Paciente', "/sesiones_paciente/"+paciente.paciente_id.to_s() %></td>
        <td><%= link_to 'Ver Metas Paciente', "/metas_paciente/"+paciente.paciente_id.to_s() %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
