<div class="card" style="width: 90%; margin: auto; text-align="center">
<h1>Mis Sesiones</h1>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th>Fecha</th>
      <th colspan="11"></th>
    </tr>
  </thead>

  <tbody>
    <% current_nutriologo_sesions.each do |sesion| %>
      <tr>
        <td><%= getPacienteName(sesion.paciente_id) %></td>
        <td><%= getHora(sesion.hora_id) %></td>

        <td><%= link_to 'Editar datos', edit_sesion_path(sesion) %></td>
        <td><%= link_to 'Ver Info Paciente', "/sesiones_paciente/"+sesion.paciente_id.to_s() %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
                      </div>
