<div class="card" style="width: 90%; margin: auto; text-align="center">
<h4>Mis Pacientes</h4>

<table>
  <thead>
    <tr>
      <th>Paciente</th>
      <th colspan="11"></th>
    </tr>
  </thead>

  <tbody>
    <% current_pacientes_nutriologo.each do |paciente| %>
      <tr>
        <td><%= paciente.username %></td>

        <td><%= link_to 'Ver Info Paciente', "/sesiones_paciente/"+paciente.id.to_s(), class: "btn-small pink lighten-2 btn-block" %></td>
        <td><%= link_to 'Ver Metas y Objetivo Paciente', "/metas_paciente/"+paciente.id.to_s(), class: "btn-small pink lighten-2 btn-block" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
                      </div>
