<h1>Home</h1>
<%= link_to "Admin Ingresa Aquí", '/users/sign_in', class: "btn btn-lg btn-primary" %>
<%= link_to "Nutriologo Ingresa Aquí", '/nutriologos/sign_in', class: "btn btn-lg btn-primary yellow" %>
<%= link_to "Paciente Ingresa Aquí", '/pacientes/sign_in', class: "btn btn-lg btn-primary" %>
