<div class="row">
  <div class="col s12">
    <div class="card rounded" style="margin: auto; text-align='center'">
      <div class="card-content">
        <p class="font-size-title">Editar Sesión del paciente: <%= @paciente.username %></p>
      </div>
    </div>
  </div>
</div>

<%= render 'form', sesion: @sesion %>
