<div class="row">
  <div class="col offset-s1 s12">
    <h3> Editar Sesión del paciente: <%= @paciente.username %> </h3>
  </div>
</div>

<div class="row">
  <%= render 'form', sesion: @sesion %>
</div>
