<div class="card rounded" style="width: 90%; margin: auto; text-align='center'">
  <div class ="row">
    <div class="col s12">
      <p class="font-size-title">Bienvenido al programa</p>
    </div>
  </div>
</div>

<!-- Phases -->
<div class="card rounded" style="width: 90%; margin: auto; text-align='center'">
<div class="row">
  <div class="col s4 offset-s4", style="margin-left:25.3%; width:49.33%;">
    <% titles = ["","Cambio de Hábitos", "Combinación de alimentos","Lectura de etiquetas","Hábitos permanentes"] %>
    <% (1..4).each do |i| %>
      <a style="margin: 3px;"> <%= link_to "Fase #{i} #{titles[i]}", "/documents/#{i}", class: "btn-large btn-primary btn-block rounded-25" %></a>
    <% end %>
  </div>
</div>
</br>
</div>
