// Variables

// Color palette
$base-color: white;
$main-color: #96e6b3;
$secondary-color: #d2ff96;
$tertiary-color: #d9ffce;
$quaternary-color: #f7fff4;

// Font variables
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-color: #1e1f25;
$font-size-title: 30px;
$font-size-text: 16px;
$font-size-small: 12px;

