<p id="notice"><%= notice %></p>
<div class="card" style="width: 90%; margin: auto; text-align="center">
<h1>Dietas</h1>

<table>
  <thead>
    <tr>
      <th>Nutriologo</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% @dietas=paciente_dietas(current_paciente.id) %>
  <tbody>
    <% @dietas.each do |dieta| %>
      <tr>
        <td><%= getNutriologoName(dieta.nutriologo_id) %></td>
        <td><%= link_to dieta.dietaPDF.file.filename, dieta.dietaPDF.url %></td>
        <td><%= cl_image_tag(dieta.dietaPDF.file.public_id + ".png",
          :width => 200, :height => 250, :crop => :fill) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
                     </div>
