<div class="card" style="width: 90%; margin: auto; text-align="center">
<h1>Tips y Comentarios</h1>


    <% paciente_tips(current_user.id).each do |tip| %>


        <%= tip.tip%><br>
        Atte: <br>
        <%= tip.remitente %><br><br>

    <% end %>


                                                                      <br></br>
                                                                      </div>
